<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}">
    <meta name="author" content="墨司玖">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link href="__SINGLECOLOR__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__SINGLECOLOR__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__SINGLECOLOR__/css/animate.min.css" rel="stylesheet"> 
    <link href="__SINGLECOLOR__/css/lightbox.css" rel="stylesheet"> 
	<link href="__SINGLECOLOR__/css/main.css" rel="stylesheet">
	<link href="__SINGLECOLOR__/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="__SINGLECOLOR__/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__SINGLECOLOR__/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__SINGLECOLOR__/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__SINGLECOLOR__/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__SINGLECOLOR__/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->
